@font-face {
    font-family: 'Averta', 'Lato';
    src: url("") format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 
 /* Container Geral */
 .plans-container {
  display: flex;
  justify-content: center;
  gap: 48px !important; 
  padding: 20px 0;
}

/* EstilizaÃ§Ã£o dos CartÃµes */
.plan-card {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding-bottom: 30px;
}

.plan-card .header-highlight {
  background-color: #FF6338;
  padding: 15px 0;
  color: #FFFFFF;
  font-weight: bold;
}

.plan-card .title {
  font-size: 20px;
  margin: 0;
  font-family: 'Averta', 'Lato';
  font-weight: 700;
  color: #FFF;
}

.plan-card .subtitle {
  background-color: #EDEDED;
  padding: 10px 0;
  font-family: 'Lato';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4D5761;
  margin: 0;
}

.plan-card .badge {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 10px;
  padding: 5px 10px;
  color: #FF6338;
  border: 1px solid #FF6338;
  border-radius: 12px;
  font-size: 12px;
  font-weight: bold;
}

.plan-card .price {
  font-size: 34px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  color: #4D5761;
  margin-bottom: 2px;
  font-family: 'Averta', 'Lato';
}

.plan-card .description {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #4D5761;
}

.plan-card .benefits-link {
  font-size: 14px;
  color: #FF6338;
  text-decoration: none;
  margin-bottom: 15px;
  display: block;
  text-decoration: underline;
}

.plan-card .highlight-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  padding-right: 20px;

  flex-grow: 1; /* Faz o conteÃºdo crescer e empurra o botÃ£o para baixo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.plan-card .choose-plan-btn {
  background-color: #FF6338 ;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  height: 47px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  margin-top: auto; /* MantÃ©m o botÃ£o sempre no final do card */
}

.choose-plan-btn {
  background-color: #FF6338 !important;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  height: 47px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto; /* MantÃ©m o botÃ£o sempre no final do card */
}

.choose-plan-btn-for-my {
  background-color: #FF6338 !important;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
  padding: 10px 20px;
  font-size: 16px;
  width: 100%;
  height: 47px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto; /* MantÃ©m o botÃ£o sempre no final do card */
}

.choose-plan-btn-for-my:hover {
  background-color: #FF6338 !important;
  color: #FFFFFF;
  border-radius: 24px;
}

.plan-card .choose-plan-btn:hover {
  background-color: #4D5761 !important;
}

.plan-card .no-select {
  background-color: #4D5761 !important;
}

/* Responsividade */
@media (max-width: 768px) {
  .plans-container {
    flex-direction: column;
    align-items: center;
  }
}

.container-slide{
  display: flex;
  gap: 52px;
  margin-top: 70px;
  }  

/* Estilos gerais para o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5); /* Fundo escuro com leve transparÃªncia */
}

.modal-content {
  
  background-color: #fff;
  margin: 2% auto;
  padding: 24px;
  border-radius: 12px;
  width: 465px;
  max-height: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-height: 768px) {
  .modal-content {
  
  margin-top: 19px;
}
}

.modal-container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 4px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  font-weight: bold;
}

.space-modal {
  margin-top: 14px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 7px !important;
}

button[type="submit"] {
  width: 100%;
  height: 44px;
  padding: 12px 0px 0px 0px;
  gap: 10px;
  border-radius: 50px;
  opacity: 0px;
  background: #FF6338;
  font-family: 'Averta', 'Lato';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
  text-decoration-skip-ink: none;
  display: flex;
  justify-content: center;

}

button[type="submit"]:hover {

}

.modal-title{
  font-family: 'Averta', 'Lato';
  font-size: 19px;
  font-weight: 600;
  line-height: 150%;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #4D5761;
}

form, .submitted-message {
  background: #FFF !important;
}
  

.subtitle-modal {
  font-family: 'Averta', 'Lato';
  font-size: 16px;
  font-weight: 400;
  line-height: 4px !important;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #2A3037;
}

.modal-container-header img {
  width: 200px;
  height: 100px;
}

.glide {
  max-width: 1200px; /* Define a largura mÃ¡xima */
  margin: 0 auto; /* Centraliza o carrossel */
}

 .glide__track {
  overflow: hidden !important;
}

.glide__slides {
  display: flex !important;
  justify-content: center;
}

.glide__slide {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  flex: 0 0 auto; /* Evita que os slides quebrem no mobile */
}

.plan-card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribui o espaÃ§o interno */

}

.glide {
  width: 100%;
}

@media (max-width: 768px) {
  .plan-card {
    max-width: 400px; 
  }
} */

 @media (max-width: 768px) {
  .plan-card {
    max-width: 90%; 
  }
}

@media (max-width: 480px) {
  .plan-card {
    max-width: 100%; 
    margin-top: 40px;
    height: 480px;
  }
  .glide__slide {
    margin-bottom: 15px;
  }
}

@media (min-width: 1024px) { /* Aplica apenas para desktops */
  .glide__slide:nth-child(3) {
    margin-right: -50px; /* Move o terceiro card para dentro do contÃªiner */
  }
}

@media (min-width: 1200px) { /* Apenas para telas maiores que 1200px */
.glide__slide:nth-child(3) {
  margin-right: -50px; /* Move o terceiro card para dentro do contÃªiner */
}
  .glide__slide {
    /* flex: 0 0 calc(33.33% - 20px);  */
  }

  .glide__slides {
    margin-left: 31px; /* EspaÃ§amento entre os slides */
  }

  /* Deixa o Ãºltimo card visÃ­vel cortado */
  .glide__slide:last-child {
    margin-left: -150px; /* Move o Ãºltimo slide um pouco para dentro */
  }
}

input[type="text"],
input[type="email"], select   {
  width: 100%; /* Ocupa toda a largura disponÃ­vel */
  height: 56px;
  padding: 19px 16px; /* EspaÃ§amento interno */
  border-radius: 10px !important; /* Arredondamento no canto superior esquerdo */
  border: 1px solid #BEC4CC !important; /* Borda sutil */
  background-color: #fff; /* Fundo branco */
  font-size: 16px; /* Tamanho do texto */
  color: #2A3037 !important; /* Cor do texto */
  outline: none; /* Remove a borda azul ao clicar */
  transition: border 0.3s ease-in-out; /* Suaviza a borda ao focar */
}

/* Placeholder estilizado */
input[type="text"]::placeholder, input[type="email"]::placeholder, select  {
  color: #2A3037 !important; /* Cor do texto do placeholder */
  font-size: 14px;
  opacity: 0.8;
}

/* Efeito ao focar */
input[type="text"]:focus, input[type="email"]:focus, select:focus  {
  border-color: #BEC4CC; /* Muda a cor da borda ao focar */
}



/* Remove a borda azul ao focar no select em alguns navegadores */
select:focus {
  outline: none;
}

/* Corrige o padding do select */
select option {
  padding: 10px;
}

form select, form textarea {
  display: inline-block;
  font-size: 14px !important;
  padding: .7rem;
  width: 100%;
}

/* Overlay do Modal */
.modal-dot-circle {
  display: flex;
  flex-direction: initial;
  justify-content: start;
  margin-top: -47px;

}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
  padding: 20px;
}

/* ConteÃºdo do Modal */
.modal-content-details {
  background: #fff;
  padding: 20px;
  width: 400px;
  height: 540px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10000;
}

.modal-content-details h2 {
    font-family: 'Averta', 'Lato';
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #4D5761;
}

.modal-plan {
  color: #FF6338;
  font-weight: bold;
  border: 1px solid #FF6338;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-family: 'Averta', 'Lato';
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  width: auto;
}

.modal-box {
  background: #FFF;
  padding: 10px;
  border-radius: 8px;
  height: 83px;
  display: flex;
  align-items: center;
  margin: 15px 0;
  border: 1px solid #EDEDED;
  gap: 10px;
  padding-top: 18px;
}

.modal-dot {
  width: 10px;
  height: 10px;
  background: #e55d3d;
  border-radius: 50%;
  margin-right: 10px;
  padding-left: 10px;
}

.modal-box p {
  font-family: 'Averta', 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #4D5761;
  padding-top: 20px;
}

.modal-list {
  list-style: none;
  padding: 0;
  text-align: left;

}

.modal-list li {
  margin: 8px 0;
  font-family: 'Averta', 'Lato';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #4D5761;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.modal-button {
  background: #e55d3d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #4D5761;
}

/* Ajuste para mobile */
@media (max-width: 768px) {
  .modal-content-details {
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .modal-content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

form input[type=email], form input[type=file], form input[type=number], form input[type=password], form input[type=search], form input[type=tel], form input[type=text], form select, form textarea {
    display: inline-block;
    font-size: 14px !important;
    padding: .7rem;
    width: 100%;
    color: #2A3037 !important;
}


.custom-select {
      position: relative;
      display: inline-block;
      width: 100%;
    }

    select {
      appearance: none; /* Remove o estilo padrÃ£o */
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 100%;
      padding: 12px 40px 12px 15px;
      font-size: 16px;
      border: 1px solid #CBD5E0;
      border-radius: 8px;
      background-color: #fff;
      color: #2D3748;
      cursor: pointer;
      outline: none;
    }

    .custom-select::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      width: 20px;
      height: 20px;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%234A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateY(-50%);
      pointer-events: none; /* Impede que clique na seta afete o select */
    }


    
    .plan-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between; /* Distribui os elementos verticalmente */
      height: 500px; /* Define uma altura fixa para os cards */
      padding-bottom: 30px;
    }
    
    .plan-card .highlight-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1; /* Faz o conteÃºdo ocupar todo o espaÃ§o disponÃ­vel */
      justify-content: space-between; /* MantÃ©m os elementos distribuÃ­dos */
    }
    
    .plan-card .description {
      flex-grow: 1; /* Permite que a descriÃ§Ã£o cresÃ§a, mas sem empurrar os outros elementos */
      overflow: hidden; /* Evita que quebre a altura do card */
    }
    
    .plan-card .benefits-link {
      font-size: 14px;
      color: #FF6338;
      text-decoration: underline;
      margin-bottom: 30px;
      display: block;
    }



.modalNoColor {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
   
@media (max-width: 480px) {
  
  .modal-plan {
    width: 200px;
  }
  .modal {
    padding: 20px;
    height: 100%;
    top: 0px;

  }
  .plan-card {
    max-width: 100%; 
    margin-top: 40px;
    height: 450px;
  }
  .glide__slide {
    margin-bottom: 15px;
  }
}


#conectcarFlexTagColor.error{
  padding-top: 14px !important;
}

#conectcarFlexTagColorError.error-message {
  padding-top: 10px !important;
}


